<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>

        <!-- This Menu Item will appear in the Upper bar, that's why It needs NO parent or action -->
        <menuitem
            id="phone_menu_root"
            name="Phone Store"
            sequence="10"/>

        <!-- This Menu Item Must have a parent -->
        <menuitem
            id="phone_stuff_menu_categ"
            name="Stuff"
            parent="phone_menu_root"
            sequence="10"/>

        <menuitem
            id="phone_promo_menu_categ"
            name="Promo"
            parent="phone_menu_root"
            sequence="20"/>

        <menuitem
            id="phone_transaction_menu_categ"
            name="Transaction"
            parent="phone_menu_root"
            sequence="30"/>

        <menuitem
            id="phone_partner_menu_categ"
            name="Partner"
            parent="phone_menu_root"
            sequence="40"/>

    </data>
</odoo>